merge pok and daddy/Pastaga/bin
merge pok and daddy/Pastaga/application.windows
merge pok and daddy/Pastaga/application.macosx
merge pok and daddy/Pastaga/application.linux
merge pok and daddy/Pastaga/applet
*.class